#sec1 {

    display: flex;
    align-items: center;
    gap: 5rem;
    margin: auto;
    justify-content: center;
    background-color: white;
    width: 80%;
    padding: 0px 0px 1px;
    cursor: pointer;
}

#sec1>div>h5 {
    margin-top: 2px;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 100px;
    font-weight: 900;
    margin-bottom: 2px;
    font-size: 14px;
}

#sec1>div>p {
    font-size: 14px;
    padding-top: 1px;
}

#delivery {
    margin-top: 10px;
}

#btn1 {
    margin-top: 2px;
    height: 40px;
    width: 40vw;
    border-radius: 10px;
    border: none;
    padding-inline: 10px;
    background-color: transparent;
    box-shadow: 0px 0px 2px grey;

}

#btn2 {
    margin-top: 2px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    border: none;


}

#btn3 {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
    font-weight: 900;

}

#sec2 {
    display: flex;
    margin-top: 20px;
    cursor: none;
    height: 20vw;
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-left: 6.5rem !important;
    margin-right: 5rem !important;
}

/*#sec2{
    display: flex;
    margin-top: 20px;
    gap: 3.5rem;
    justify-content: left;
    margin-left: 200px;
    padding-left: 20px;
    background-color: #3bb039;
    width: 80%;
    height: 180px;
    flex-direction: row;
    border-radius: 10px;
    margin: auto;

}
#sec2>div>h1,p{
    color: white;
    

}
#btn4{
    height: 30px;
    width:100px;
    border-radius: 5px;
    border: #3bb039;
}*/

#sec3 {
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    width: 1180px;
    height: 250px;
    margin-top: 5px;
    margin-left: 9rem !important;
    cursor: pointer;

}

#div1 {

    display: flex;
    height: 200px;
    width: 400px;
    padding: 3px;
    
}

/*#sec4>div>{
    display: flex;
    flex-wrap: wrap;
    /*justify-content:center;
    align-items: center;
    margin-left: 250px;
    width: 981px;
    height: 180px;
    padding-inline: 6.5vw;
    justify-content: space-around;
}*/

#sec4 {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 82%;
    align-items: left;
    margin-left: 6rem !important;
    margin-bottom: 10px;
    padding-right: 300px;
    padding-inline: 1px;

}

#sec4>div {
    display: flex;
    margin-top: 1px;
    padding: 3px 30px;
    margin-right: 5rem !important;
    margin-bottom: 20px;
    cursor: pointer;

}

*/ .heroimages {
    width: 85vw;
    margin-inline: 100px;
}

.sectiontwo {
    width: 100vw;
}

.lastfooter {
    color: #9d9d9d;

}

.smallimg>img {

    height: 37%;
}

.one {
    width: 20px;
    height: 45px;
    margin-inline: 20px;
}

.abc {
    overflow-x: scroll;
    width: 82%;
    margin: auto;
}

.two {
    white-space: nowrap;
}

::-webkit-scrollbar {
    display: none;
}

element.style {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
}

/*
#div2{ 
    display:flex;
    margin-top:10px;
    margin: auto;
    width: 20vw;
    height: 10vw;
    padding-left: 230px;
    margin-left: 10px;
    margin-bottom:20px;
   
}
#div3{
    display:flex;
    margin-top:10px;
    margin: auto;
    width: 20vw;
    height: 10vw;
    padding-left: 230px;
    margin-left: 10px;
    margin-bottom:40px;
    cursor: pointer; 
}*/
.my-A {
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 1px;
}

.my-B,
.mrp {
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 1px;
}

.price {
    font-size: 15px;
    color: #666666;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

.mrp {
    margin-top: 0px;

}

.time {
    width: fit-content;
}

.img1 {
    margin-top: 0px;

}

.last-div {
    margin-top: 0px;
}

.my-list {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.Main {
    overflow-x: scroll;
    width: 82%;
    margin: auto;

}

.my-card1 {
    width: 179px;
    box-sizing: border-box;
    margin-inline: 10px;

}

.green {
    color: #0c831f;
}

.h2here {
    padding-left: 140px;
    margin-top: 30px;
    ;
}

.DownloadApp {
    color: #666666;
}

.imgpad {
    margin-left: 10px;
    ;
}

.autom {
    margin-inline: 80px;
}

.abcd {
    margin-bottom: 100px !important;

}

.xyza {
    display: inline-block;
    margin-left: 100px;
    margin-top: 300px;
}

.Lastcolor {
    color: #a0a0a0;
    font-size: 15px;
    margin-top: 5px;
}

.Grofers {
    font-size: 13px;
}

.nx {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    /* background-color:gray; */
    color: white;
    margin-top: 15px;
}

.xb {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    /* background-color:gray; */
    color: black;
    margin-top: 15px;
}
#div3,#div4{
    margin: auto;
}
#img1{
    transition-property: width;
}
#img1:hover{

width:300px;
}